body {
    margin: 0;
}

/* Style the navigation bar */
#navbar {
    background-color: #d1cbf7; /* White background color */
    position: fixed; /* Navbar doesn't move */
    top: 0; /* Positions navbar on top of the page */
    width: 100vw; /* Navbar spans the full width of the page */
    transition: top 0.3s; /* Transition sliding effect when scrolling down/up */
}

/* Positions most links on the right */
.right-links {
    float: right;
    padding: 25px;
}
/* Positions my name on the left */
.left-links {
    float: left;
    text-align: center center;
    padding: 10px;
    font-size: 2rem;
    font-family: 'Crimson Text', serif;
    font-family: 'Playfair Display', serif;
}
/* Styles the navigation bar links */
#navbar a {
    color: #093449;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

/* Styles navigation bar links when mouse is hovered over them */
#navbar a:hover {
    color: #ddd; 
}

.floating-menu {
    background: #093449;
    /* border: 15px solid green; */
    padding: 5px;
    width: 100px;
    z-index: 100; /* the menu will always have the highest priority */
    position: fixed;
    margin-top: 70px;
    float: right;
    right: 3rem;
    height: 220px;
    text-decoration: none;
    text-align: center;
    transition: top 1s;
    top: 70px;
}

.floating-menu button {
    display: block;
    background-color: inherit;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    height: 30px;
    /* border: 15px solid green; */

}

.floating-menu a {
    text-align: center;
 }
#floating-menu a {
    color: #fff;
    padding-top: 30px;
    text-decoration: none;
    font-size: 1rem;
    padding: none;
    text-align: center;
    display: inline-block;
}

/* Styles the hero image */
.hero {
    /* Image Used */
    background-image: url("hero_image.jpg");

    /* Full height */
    height: 100vh;
    width: 100vw;

    /* Center and scale */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* makes image 'stick' to its position */
}

.introduction {
    margin-bottom: 4rem;
}
/* styles h2 element for most things minus about section */
.experience__content h2, .introduction__content h2, .future__content h2, .body-text h2 {
    color: #093449;
    font-size: 4rem;
    font-family: 'Crimson Text', serif;
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding-top: 4rem;
}

/* styles experience section */
.experience {
    /*border: 15px solid green;*/
    background-color: #feebca;
    padding-bottom: 4rem;
}

h3 {
    color: #093449;
    font-size: 1rem; 
    text-align: center;
}
p {
    font-family: 'Crimson Text', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    padding-left: 15rem;
    padding-right: 15rem;
    text-align: center;
    line-height: 25px;
}
li {
    font-family: 'Crimson Text', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    padding-left: 15rem;
    padding-right: 15rem;
    text-align: left;
    line-height: 25px;
}

.experience a:link, a:visited {
    color: blue;
}
h3 a {
    text-decoration: none;
}
#body-text {
    margin: 15px;
}

#footer {
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 2rem;
    font-family: 'Crimson Text', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
}

/* About Page styling */

.about-text__container {
    /* border:15px solid green; */
    margin-top: 8rem;
    width: 40%;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    text-align: justify; 
    font-family: 'Crimson Text', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    line-height: 20px; 
    font-size: 0.8rem;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: none;
}

.about-text__container h2 {
    padding-top: none;
    font-size: 2.25rem;
    text-align: left;
    color: #093449;
    font-family: 'Crimson Text', serif;
    font-family: 'Playfair Display', serif;
}
